<section class="vh-100">
    <div class="container-fluid h-custom" id="login-container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-md-3">
                <form class="auth-form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
                    <div>
                        <span class="login-form-title mt-2">Let's Get Your!</span>
                        <br />
                        <span class="login-form-title text-primary mt-4">Account Set Up!</span>
                        <p class="login-form-paragrah mt-2">Join us and unlock amazing opportunities.</p>
                    </div>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label text-uppercase text-lg-start font-size-small font-weight-500" for="form3Example3"
                            >Email address</label
                        >
                        <input
                            type="email"
                            id="email"
                            class="form-control form-control-md p-2"
                            placeholder="Email address"
                            [ngClass]="{
                                'border border-danger': emailIsInvalidErrorMessage
                            }"
                            [formControl]="form.controls.email"
                        />
                        @if(emailIsInvalidErrorMessage){
                        <div class="form-text text-danger">
                            <span class="text-danger">{{ emailIsInvalidErrorMessage }}</span>
                        </div>
                        }
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label text-uppercase text-lg-start font-size-small font-weight-500" for="formEmail"
                            >Password</label
                        >
                        <input
                            type="password"
                            id="password"
                            minlength="8"
                            class="form-control form-control-md p-2"
                            placeholder="Password"
                            [ngClass]="{
                                'border border-danger': passwordIsInvalidErrorMessage
                            }"
                            [formControl]="form.controls.password"
                        />
                        @if(passwordIsInvalidErrorMessage){
                        <div class="form-text text-danger">
                            <span class="text-danger">{{ passwordIsInvalidErrorMessage }}</span>
                        </div>
                        }
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check ms-1 mb-0 custom-label d-flex">
                            <input
                                class="form-check-input me-2"
                                type="checkbox"
                                value=""
                                name="termsAccepted"
                                id="termsAccepted"
                                [formControl]="form.controls.termsAccepted"
                            />
                            <label class="form-check-label text-dark" for="termsAccepted"
                                >By creating an account, you confirm that you have read and agree to our Terms & Conditions and Privacy
                                Policy.</label
                            >
                        </div>
                    </div>

                    <div class="text-lg-start mt-4 pt-2 d-flex justify-content-between align-items-center">
                        <app-solid-button class="w-100" [customClasses]="'w-100'" type="submit" [disabled]="!form.valid"
                            >Sign Up</app-solid-button
                        >
                    </div>

                    <!-- <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div> -->

                    <!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div> -->
                    <p class="small fw-normal mt-4 pt-1 mb-0 font-size-12 text-black-50 text-center">
                        Already on NextHire? <a href="#!" class="link">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
