.text-primary {
    color: #3973df !important;
}

.font-size-small {
    font-size: smaller;
}

.font-weight-500 {
    font-weight: 500;
}

form label {
    color: #17193d;
}

form input {
    font-size: 0.89rem !important;
}

form input::placeholder,
form textarea::placeholder {
    color: rgb(156, 165, 174) !important;
    opacity: 1;
    font-size: 12px;
}

.custom-label,
.font-size-12 {
    font-size: 12px !important;
}

.text-black-50 {
    color: #4745458a;
}
