<nav class="navbar navbar-expand-md bg-transparent border-bottom position-absolute top-0 start-0 w-100 z-3">
    <div class="container-fluid">
        <!-- Left: Logo -->

        <a class="navbar-brand brand-title" href="#">
            <span class="text-dark">Next</span>
            <span class="text-primary fw-bold">Hire</span>
        </a>

        <!-- Center Text (Desktop Only) -->
        <div class="navbar-center d-none d-md-block">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark ms-3" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark ms-3" aria-current="page" href="#">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark ms-3" aria-current="page" href="#">Copanies</a>
                </li>
            </ul>
        </div>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
            <ul class="navbar-nav ms-auto w-100 justify-content-md-end text-center">
                <!-- Center Text (Mobile Only) -->
                <li class="nav-item d-md-none">
                    <span class="nav-link fw-bold">Center Text</span>
                </li>
                <!-- Right Text -->
                @if(isAuthenticated()) {
                <li class="nav-item d-flex">
                    <div class="dropdown dropstart">
                        <a class="d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img
                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
                                class="rounded-circle"
                                height="30"
                                alt=""
                                loading="lazy"
                            />
                        </a>
                        <ul class="dropdown-menu position-absolute profile-settings-wrap end-0">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </li>
                } @else {
                <li class="nav-item d-flex">
                    <a class="nav-link active" aria-current="page" routerLink="/auth/login">Login</a>
                    <app-outline-button
                        [label]="'Sing up'"
                        [customClasses]="'text-dark ms-2 px-4'"
                        (buttonClicked)="goToSignupPage()"
                    ></app-outline-button>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>
