#icon-card {
    width: 9rem;
    height: 9rem;
    max-width: 11rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#icon-card:hover {
    cursor: pointer;
    background-color: #3973df !important;
    color: white !important;
    box-shadow: 0px 2px 6px 4px #f0f0f0;
    scale: 1.08;
    height: 10rem;
    .icon-wrap {
        color: white !important;
    }
}

.icon-wrap {
    color: #aeb4c1 !important;
}
